{% extends "base.html" %} 
   
{% block output_files %}

 {% load static from staticfiles %}

<img src="{%static "js/spectrogram.png"%}" alt="spectrogram">

 <input type="button" value="Submit" id="test">
 <div id="waveform" >
  
  <canvas width="120" height="60" id="disp"></canvas>
  <div class="controls" id="playbackAudio" hidden>
                    <button class="btn btn-primary" data-action="play">
                        <i class="glyphicon glyphicon-play"></i>
                        Play
                        /
                        <i class="glyphicon glyphicon-pause"></i>
                        Pause
                    </button>
                </div>
 
 
  </div>
<script>
 document.getElementById('test').onclick=function() {
  this.disabled=true;

  var wavesurfer = Object.create(WaveSurfer);

wavesurfer.init({
  // your options here
  container: "#waveform"
});

wavesurfer.on('ready', function () {
    var timeline = Object.create(WaveSurfer.Timeline);

    timeline.init({
        wavesurfer: wavesurfer,
        container: "#disp"
    });
});

wavesurfer.load('/home/venkateshvishnuanirudh/Desktop/vva.wav');

wavesurfer.on('ready', function () {
    var handlers = {
        'play': function () {
            wavesurfer.playPause();
        }
    };

    var map = {
        32: 'play'       // spacebar
    };

    document.addEventListener('keydown', function (e) {
        if (e.keyCode in map) {
            e.preventDefault();
            var handler = handlers[map[e.keyCode]];
            handler && handler(e);
        }
    });

    document.addEventListener('click', function (e) {
        var action = e.target.dataset && e.target.dataset.action;
        if (action && action in handlers) {
            handlers[action](e);
        }
    });
});

  }
</script>
{% endblock %}
